/* src/App.css or a dedicated CSS file for your LoginPage */
body, html {
  height: 100%; /* Full height */
  margin: 0; /* Reset default margin */
}

.login-container {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  text-align: center; /* Center text elements */
  padding-left: 50px;
}

input[type="text"],
input[type="password"] {
  width: 90%; /* Adjust width as needed */
  padding: 8px;
  margin-top: 10px; /* Space between inputs */
}

button {
  padding: 10px 20px;
  margin-top: 20px; /* Space above the button */
  cursor: pointer; /* Cursor indicates clickable item */
}